@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*========================================Código de edição do cabeçalho==================================*/
header#cabecalho {
    background-color: #F5C016;
    width: 100%;
    height: 80px;
}
#navegacao ul {
    float: right;
}
#navegacao ul li {
    margin-top: 28px;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.4s ease-in;
}
ul li:hover {
    background-color: rgba(10, 10, 10, 0.2);
}
#navegacao ul li a {
    text-decoration: none;
    color: #101010;
}
/*=====================================Fim do código de cabeçalho=====================================*/

/*============================================Código de slides=======================================*/
div.slide {
    overflow: hidden;
    margin-top: 3px;
}

button.slick-prev {
    border: none;
    font-size: 0px;
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 51px;
    top: 40%;
    left: 10%;
    background-image: url('../images/anterior.png');
    background-color: transparent;
}

button.slick-next {
    border: none;
    font-size: 0px;
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 51px;
    top: 40%;
    right: 10%;
    background-image: url('../images/proximo.png');
    background-color: transparent;
}

ul.slick-dots li {
    display: inline-block;
    margin: 5px;
}
.slick-dots {
    text-align: center;
}

.slick-dots li button {
    font-size: 0px;
    border: 3px solid #101010;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

li.slick-active button {
    background-color: #F5C016;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
/*===================================Fim do código de slides============================*/

/*=============================Código de edição de próximos projetos=======================*/
div.container {
    width: 1200px;
    margin: 0 auto;
}
h2 {
    font-family: monospace;
    font-size: 40px;
    margin-top: 50px;
}

p {
    font-family: monospace;
    font-size: 15px;
    text-align: justify;
    margin: 20px 0px;
    line-height: 25px;
}

div.moradia {
    display: inline-block;
    background-color: #c4bfbf;
    margin-right: 5px;
}

div.informacao {
    background-color: #c4bfbf;
    padding: 5px;
}

div.informacao span {
    display: block;
    font-family: monospace;
    font-size: 15px;
    margin-top: 8px;
}
/*===============================Fim do campo próximos projetos===============================*/

/*======================================Campo sobre nós==================================*/
div.sobre-nos {
    background-color: #F4F4F4;
    display: flexbox;
    border-top: dashed 1px #101010;
    margin-top: 50px;
    padding-bottom: 50px;
}

div.conteudos {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
}
div.conteudo-esquerdo {
    display: inline-block;
    width: 50%;
}
div.conteudo-direito {
    float: right;
    width: 50%;
}

h3 {
    font-family: monospace;
    font-size: 23px;
}
/*=======================================Fim do campo sobre nós=================================*/

/*========================================Campo de clientes===================================*/
div.clientes {
    background-color: #F5C016;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

div.clientes img {
    border-radius: 50%;
}
div.campo-depoimento {
    display: inline-block;
    margin-right: 30px;
}

div.campo-depoimento p {
    border: 2px solid snow;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    background-color: #101010;
    color: #FFF;
}
/*=====================================Fim do campo clientes==========================================*/

/*=====================================Início do campo equipe=====================================*/
div.campo-equipe {
    background-color: rgba(10, 10, 10, 0.2);
    margin-top: -50px;
    padding-bottom: 50px;
}

div.campo-equipe p {
    color: #101010;
}

h2#equipe {
    padding-top: 50px;
}

div.foto-equipe {
    display: inline-block;
    text-align: center;
    margin: 50px 0px;
}

div.foto-equipe img {
    border-radius: 50%;
    width: 200px;
    margin: 10px 30px;
    border: 1px dashed #101010;
}

h4 {
    font-family: monospace;
    font-size: 18px;
    
}

span.cargo {
    font-family: monospace;
    font-size: 14px;
}
/*=========================================Fim do campo equipe================================*/

/*===================================Início do campo de contato===============================*/
div.campo-contato {
    background-color: #101010;
    margin-top: -50px;
}

div.campo-contato h2 {
    color: #FFF;
    padding-top: 50px;
}

form {
    margin-top: 80px;
    font-family: monospace;
    padding-bottom: 50px;
    display: inline-block;
}

fieldset {
    border: #FFF 1px solid;
    width: 400px;
}

#campo-login {
    border-radius: 3px;
    padding: 30px;
}

.label-login {
    font-size: 15pt;
    color: #FFF;
}

.input-login {
    padding: 10px;
    border-radius: 3px;
    background-color: #FFF;
    border: none;
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
}

a.container-login {
    color: #FFF;
    text-decoration: none;
}

a.container-login:hover {
    text-decoration: underline;
}

button.entrar {
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    width: 300px;
    
}

a.esq-senha {
    text-align: center;
    display: block;
    margin-top: 20px;
    color: #FFF;
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
}

#campo-cadastro {
    border-radius: 3px;
    padding: 30px;
    margin-top: 10px;
}

#campo-cadastro p, a {
    color: #FFF;
    text-decoration: none;
}

div.final {
    display: inline-block;
}

div.info-direita {
    float: right;
    margin-top: 80px;
    margin-left: 100px;
}

div.info-direita h3 {
    font-family: monospace;
    font-size: 30px;
    color: #FFF;
}

div.info-direita p, a {
    font-family: monospace;
    font-size: 16px;
    color: #FFF;
}

